
@{
    ViewBag.Title = "Donations";
}

@section head{
    <meta name="description" content="Canine Kinship Tacoma WA, Schedule training classes with our experienced trainers.
          Best dog trainers in Tacoma.">
    <link href="~/Css/DonationsCss.css" rel="stylesheet" id="bootstrap-css">
}

    <div class="row">
        <div class="col-lg-12">
            <h2 class="donationTitle">Donations</h2>
            <div class="donateText">Please consider donating to Canine Kinship. Please consider donating to Canine Kinship. Please consider donating to Canine Kinship. Please consider donating to Canine Kinship.</div>
        </div>
    </div>


