@{
    ViewBag.Title = "Home Page";
}


@section head{
    <link href="~/Css/HomePageCss.css" rel="stylesheet" id="bootstrap-css">
    <meta name="description" content="Canine Kinship Tacoma WA. We have experienced dog trainers and expert services.
          We develop your dogs ability through positive reinforcement and strengthening owner to dog relationships. Schedule a
           training class with us or contact us for more information">
}


<!-- Page Content -->
<div class="container">
    <div class="row">
       @*Hannah may want involve the log here some how.*@
    </div>
    <hr>
    <div class="row firstRow">
        <div class="col-lg-4 col-sm-12">
            <img class="img-responsive" src="~/images/HomeDog.jpeg" style="width: 350px; height: 500px; padding-top:40px;"/>
        </div>
        <div class="col-lg-8 col-sm-12 missionStatement">
            <h2 style="color: purple; font-family: myFirstFont;">What We Do</h2>
            <p>Canine Kinship has been offering a high level of specialized training for the past eighteen years. We specialize in canine communication, teaching everything from the basics to Advanced Sports work, such as agility, scent work, Rally, competition obedience, and AKC testing and Trick Dog testing. We offer a variety of group classes as well as private one-on-one sessions, that can be done at our facility or in the comfort of your own home. </p>
            <p>Our training methods are a combination of positive reinforcement with marking Behavior techniques, as well as cue and correction training. We do not employ prong collars, choke chains, or E collars in our regular classes. We do however teach proper use and handling of all different training aids to better help our clients to understand what will work best for them and their dog.</p>

            <p>
                @Html.ActionLink("Programs", "Services", "Scheduling", null, new { @class = "btn btn-default btn-lg" })
            </p>
          

            @*<h2>Contact Us</h2>
        <address>
            <strong>Canine Kinship</strong>
            <br>Our new location is to be announced.
            <br>Tacoma, Washington
            <br>
        </address>
        <address>
            <abbr title="Phone">P:</abbr>(253) 209-5893
            <br>
            <abbr title="Email">E:</abbr> <a href="mailto:hannamyers@hotmail.com">hannamyers@hotmail.com</a>
        </address>
        <a href="https://www.facebook.com/CanineKinshipTacoma/"> <img src="~/images/f-ogo_RGB_HEX-58.png" alt="facebook symbol" /> </a>*@
        </div>
    </div>
    <div style="padding-top: 50px; padding-bottom: 50px; text-align: center;">
        @Html.Action("UserNotifications")
    </div>
    <!-- /.row -->
    <div class="row">
        <h1 class="pillarTitle">The Pillars of Kinship</h1>
    </div>
    <div class="row pillar">
        <div class="col-lg-7 rowText">
            <h2>Team Work</h2>
            <p>
                Working together to build a cohesive unit
            </p>
        </div>
        <div class="col-lg-4 pillarSpace">
            <img class="img-responsive img-center" src="~/images/dog2.jpeg" alt="A service dog">
        </div>
    </div>
    <div class="row pillar">
        <div class="col-lg-7 rowText">
            <h2>Education</h2>
            <p>
                Passing on knowledge to help teams and the community exist together
            </p>
        </div>
        <div class="col-lg-4 pillarSpace">
            <img class="img-responsive img-center" src="~/images/dog7.jpeg" alt="A dog">
        </div>
    </div>
    <div class="row pillar">
        <div class="col-lg-7 rowText">
            <h2>Trainers</h2>
            <p>At Canine Kinship we have experienced trainers who have built strong relationships between dogs and owners. Each trainer is knowledgable and dedicated to creating a better life for you and your dogs.</p>
        </div>
        <div class="col-lg-4 pillarSpace">
            <img class="img-responsive img-center" src="~/images/dog6.jpeg" alt="A dog training sign">
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->

</div>
<!-- /.container -->
<!-- jQuery -->
@*May not be needed because the scripts from the layout page.*@
@*
    @section scripts{
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    }
*@