@model IEnumerable<CanineKinship.Models.Notifications>

<h1 style="color: forestgreen; font-family: myFirstFont; font-size: 60px;">
    Events
</h1>
<hr />


@foreach (var item in Model) {
    <div class="row">
        <div class="col-lg-4" style="font-size: 30px;  color: purple">
            @Html.DisplayFor(modelItem => item.Title)  -
        </div>
        <div class="col-lg-8" style="float:left; font-size: 20px;" >
            @Html.DisplayFor(modelItem => item.NotificationText)
        </div>
    </div>
    <hr />
       
}


