

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


.firstRow{
    margin-top: 60px;
}


.tagline {
    text-shadow: 0 0 10px #000;
    color: forestgreen; /*#fff; */
    text-align: center;
}

.img-center {
    margin: 0 auto;
    border: 4px solid forestgreen;
}

.pillarSpace {
    margin: 30px;
    float: right;
}

.rowText {
    padding: 50px;
    padding-top: 100px;
    text-align: center;
}

.missionStatement{
    padding-top: 100px;
}

.pillarTitle {
    text-align: center;
    color: forestgreen;
    font-family: myFirstFont;
    font-size: 60px;
}

.pillar {
    border: 1px solid black;
    margin-bottom: 20px;
}

h2{
    color: purple;
}

p{
    font-size: 1.5em;
}

.navPad{
    padding: 0px !important;
    margin: 0px !important;
}

.details{
    font-size: 1.5em;
}
