body {
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .container{
        padding: 0px;
    }
}

.title {
color: forestgreen !important;
font-family: myFirstFont;
  
}

.navbar {
    box-shadow: 3px 3px 60px 6px #9c27e9;
    font-weight: bold;
    color: white !important;
}
.nav {
    color: white !important;
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    background-color: white;
    width: 100%;
}

.copyright{
    padding-left: 50%;
}


